body, html { height: 100%; background-color: #333; }
.container, .wrapper, .wrapper > div { height: inherit; }
body {
  padding-top: 50px;
  color: #90ee7e;
}
.wrapper {
  text-align: center;
}
input#search {
  margin-top: 8px;
  border-color: #101010;
  width: 100px;
}
